[submodule "src/Notification-Service"]
	path = src/Notification-Service
	url = https://github.com/SE-Project-3-Team-18/Notification-Service.git
[submodule "src/User-Management-Service"]
	path = src/User-Management-Service
	url = https://github.com/SE-Project-3-Team-18/User-Management-Service.git
[submodule "src/Cart-Service"]
	path = src/Cart-Service
	url = https://github.com/SE-Project-3-Team-18/Cart-Service.git
[submodule "src/Product-Service"]
	path = src/Product-Service
	url = https://github.com/SE-Project-3-Team-18/Product-Service.git
[submodule "src/Order-Management-Service"]
	path = src/Order-Management-Service
	url = https://github.com/SE-Project-3-Team-18/Order-Management-Service.git
[submodule "src/Reviews-Service"]
	path = src/Reviews-Service
	url = https://github.com/SE-Project-3-Team-18/Reviews-Ratings-Service.git
[submodule "src/Seller-Service"]
	path = src/Seller-Service
	url = https://github.com/SE-Project-3-Team-18/Seller-Service.git
[submodule "src/Payment-Service"]
	path = src/Payment-Service
	url = https://github.com/SE-Project-3-Team-18/Payment-Service.git
